.row1 {
  grid-row-start: 1;
  grid-row-end: 5;
}
.row2 {
  grid-row-start: 2;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-column-gap: 10px;
}

.BMScodes {
  display: grid;
  align-self: center;
  margin-bottom: 10px;
}

.gauge{
  justify-content: space-around;
}

